.contact {
  @import "../general";
  .container {
    // .row {
    //  padding-top: 40px;
    //  flex-direction: column;
    //  @include media-breakpoint-up(md) {
    //    flex-direction: row;
    //  }
    //}
    .contact-container {
      .contact-tuile {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;

        width: 100%;
        border: 1px solid $sarcelle;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }

        &:first-of-type {
          margin-bottom: 40px;

          .contact-byphone-infos {
            margin-left: 10px;
            font-size: 20px;
            line-height: 32px;
          }

          .contact-puce {
            color: $sarcelle;
          }
        }

        &:last-of-type {
          margin-bottom: 40px;
          .contact-inperson-links {
            display: block;
            text-decoration: none;
            color: #292b2c;
          }
        }
        .contact-icon {
          font-size: 50pt;
          color: $sarcelle;
          @include media-breakpoint-up(md) {
            margin: 0 2vw;
            font-size: 70pt;
          }
        }
        .contact-tuile-container {
          margin: 0 20px 20px 20px;
          @include media-breakpoint-up(md) {
            margin: 40px 40px 40px 0;
            flex: 0 1 100%;
          }
          @include media-breakpoint-down(sm) {
            width: 100%;
          }

          .h4,
          .h1 {
            @include media-breakpoint-down(sm) {
              text-align: center;
            }
          }

          .mobile-centered {
            i {
              line-height: 24px;
            }
          }
        }
      }
    }
    .h4 {
      font-weight: $font-weight-bold;
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    &.separator {
      border-top: 3px solid #4a4a4a;
      @include media-breakpoint-down(sm) {
        margin: 0;
      }

      .contact-join {
        .h4 {
          margin-bottom: 40px;
        }
        .contact-joinLinks-links {
          display: block;
          text-decoration: none;
          color: #292b2c;
          white-space: nowrap;

          .text-link {
            display: inline-block;
            min-width: 250px;
          }
        }
      }
    }
    .contact-form {
      padding-top: 0;
      @include media-breakpoint-up(md) {
        padding-top: 40px;
      }
    }
    .link-icon {
      font-size: 32px;
      color: $sarcelle;
    }
    //}
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-left: 0;
        text-indent: 0;
        &::before {
          content: '•';
          color: $sarcelle;
          padding-right: 7px;
          font-size: 2em;
        }
      }
    }
  }
  .hero {
    margin-bottom: 40px;
    position: relative;

    img {
      width: 100%;
    }

    .text-over {
      background-color: #fff;
      font-size: 23px;
      position: absolute;
      margin-bottom: 0;
      line-height: 1.5;
      bottom: 0;
      padding: 0 10px;
      @include media-breakpoint-up(md) {
        padding: 0 30px;
        font-size: 50px;
      }
    }
  }
}
